@import "constants.less";
@import "boxShadow.less";
@import "transitionAll.less";
@import "bounceIn.less";
@import "bounceOut.less";

.dropDownList {
	position: relative;
}
.dropDownInput input {
	width: 100%;
	font-size: 26px;
}
.dropDownInput {
	background-color: rgba(0,0,0,0.4);
}
.dropDownItemList {
	position:absolute;
	left:5px;
	background-color: #fff;
	font-size:22px;
	
	.BoxShadow();
}
.dropDownItem {
	padding: 4px 8px 8px 8px; 
	color: @darkGray;
}
.dropDownItem:hover {
	background-color: @lightGray;
}
.addButton {
	float: right;
	margin-left: 4px;
	margin-right: 4px;
}
.addButtonLabel {
	font-size: 22px;
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}

.projectList {
	height: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	.TransitionAll();
}
.projectList.verticalCenter {
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
.projectList.topRight {
	align-items: flex-start;
	-webkit-align-items: flex-start;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	margin-right: @padding;
}
.projectList:not(.reverse) {
	.dropDownList {
		@media only screen and (min-width: 1024px) {
			width: 50%;	
		}
		@media only screen and (max-width: 1024px) {
			width: 75%;
		}
		.BounceIn(3s);
		.TransitionAll();
	}
}
.projectList.reverse {
	.dropDownList {
		@media only screen and (min-width: 1024px) {
			width: 50%;	
		}
		@media only screen and (max-width: 1024px) {
			width: 75%;
		}
		.BounceOut(.5s);
		.TransitionAll();
	}
}

.projectTitle {
	position: absolute;
	top: @padding;
	text-align: center;
	width: 100%;
	.TransitionAll();
}
.projectTitle svg {
	
	margin: 0 auto;
}
.projectTitle.hidden {
	top: 50%;
	margin-top: -36px;
}
